@import "tailwindcss";

@theme {
  --color-primary: #1D9E75;
  --color-primary-dark: #0F6E56;
  --color-accent: #D85A30;
  --color-accent-dark: #993C1D;
  --color-cream: #FAEEDA;
  --color-pine: #04342C;

  --font-family-sans: 'Inter', sans-serif;
}
